/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --dark-blue: #232E40;
    --tosca: #00FED9;
    --white: #F9F9F9;
}

body{
    background-color: var(--dark-blue);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    min-width: 100vw;
}

/* .container{
    padding: 0 10%;
} */

li{
    list-style: none;
}

a{
    color: var(--white);
}

a:hover{
    color: var(--tosca);
}

/*** NAVBAR ***/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1.5rem;
    left: 10%;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5%;
    margin-right: 20%;
}

nav ul li a{
    font-size: 1.25rem;
    color: var(--white);
}

nav .nav-brand img{
    margin-left: 10%;
}

nav .nav-brand img{
    width: 120px;
}


@media screen and (max-width: 900px) {
    nav ul{
        width: 8%;
    }
}

@media screen and (max-width: 600px) {
    nav ul{
        width: 13%;
    }
}

/*** HEADER ***/
header{
    width: 100vw;
    padding-bottom: 4rem;
}

.header-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content img{
    width: 50%;
}

header .see-more{
    width: 100%;
    text-align: center;
}

header .see-more p{
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .header-content{
        height: 93vh;
    }
    .header-content img{
        width: 70%;
    }
}

/** ABOUT US **/
.about-section{
    padding: 4rem 0;
}

.about-section .sub-title{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.about-section .sub-title p{
    width: max-content;
    border-bottom: 4px solid var(--tosca);
}

.about-section .about-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.about-section .about-title img{
    width: 30%;
}

.about-section .about-content .about-us{
    margin: 0 15%;
    margin-bottom: 3rem;
    text-align: center;
}

.about-section .about-content .about-us p{
    font-size: 12px;
    letter-spacing: .15rem;
}

.about-section .about-content .box-content{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-section .about-content .box-content h1{
    font-size: 2rem;
    width: 60%;
    padding: 1rem 4rem;
    background-color: var(--white);
    color: var(--dark-blue);
}

@media screen and (max-width: 900px) {
    .about-section .about-title img{
        width: 50%;
    }

    .about-section .about-content .box-content h1{
        font-size: 1.2rem;
        padding: 1rem 1.75rem;
    }
}