/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: #232E40;
    --tosca: #00FED9;
    --white: #F9F9F9;
}

body{
    background-color: var(--dark-blue);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    min-width: 100vw;
}

p{
    font-size: 12px;
    letter-spacing: .15rem;
}

li{
    list-style: none;
}

a{
    color: var(--white);
}

a:hover{
    color: var(--tosca);
}

button{
    padding: .75rem 2.5rem;
    border: none;
    background-color:var(--tosca);
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 1.5rem;
    transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
    -moz-transition: all ease-in-out .15s;
    -ms-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
}

button:hover{
    background-color:var(--dark-blue);
    color: var(--tosca);
    cursor: pointer;
}

/** SUBTITLE **/
.sub-title{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    text-transform: uppercase;
}

.sub-title p{
    width: max-content;
    border-bottom: 4px solid var(--tosca);
}

/*** NAVBAR ***/
nav{
    width: 100vw;
    height: 81px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    z-index: 100;
}

nav .nav-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

nav ul li a{
    font-size: 1.25rem;
    color: var(--white);
}

nav .nav-brand img{
    width: 120px;
}


@media screen and (max-width: 900px) {
    nav ul{
        width: 8%;
    }
    
}

@media screen and (max-width: 600px) {
    nav ul{
        width: 13%;
    }
}

/*** HEADER ***/
header{
    width: 100vw;
    margin-bottom: 12rem;
}

.header-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content img{
    width: 50%;
}

header .see-more{
    width: 100%;
    text-align: center;
}

header .see-more p{
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .header-content{
        height: 93vh;
    }
    .header-content img{
        width: 70%;
    }
}

/** ABOUT US **/
.about-section{
    padding: 4rem 0;
    margin-bottom: 12rem;
}

.about-section .about-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.about-section .about-title img{
    width: 30%;
}

.about-section .about-content .about-us{
    margin: 0 15%;
    margin-bottom: 3rem;
    text-align: center;
}

.about-section .about-content .about-us p{
    font-size: 12px;
    letter-spacing: .15rem;
}

.about-section .about-content .box-content{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-section .about-content .box-content h1{
    font-size: 2rem;
    width: 70%;
    padding: 1rem 4rem;
    background-color: var(--white);
    color: var(--dark-blue);
}

@media screen and (max-width: 900px) {
    .about-section .about-title img{
        width: 50%;
    }

    .about-section .about-content .box-content h1{
        font-size: 1.2rem;
        padding: 1rem 1.75rem;
    }
}

/** SERVICE **/
.service-section{
    width: 100vw;
    padding: 4rem 0;
    margin-bottom: 12rem;
}

.service-section .service-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.service-section .service-title img{
    width: 30%;
}

.services-content{
    width: 100%;
    padding: 0 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.services-content .service-wrapper h3{
    margin-bottom: .5rem;
}

@media screen and (max-width: 900px) {
    .service-section .service-title img{
        width: 50%;
    }
    .services-content{
        padding: 0 20%;
        flex-direction: column;
        gap: 5rem;
    }
}

/** WORK **/
.work-section{
    width: 100vw;
    margin-bottom: 12rem;
}

.work-section .work-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.work-section .work-title img{
    width: 55%;
}

.work-section .work-item{
    height: 100vh;
    width: 100vw;
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-section .work-item.archi{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/bgr/archi.jpg);
}

.work-section .work-item.agit{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/bgr/agit.jpg);
}

.work-section .more-work button:hover{
    border: 1px solid var(--tosca);
}

.work-section .work-item h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.work-section .more-work{
    text-align: center;
    padding: 5% 0;
}

@media screen and (max-width: 900px) {
    .work-section .work-title img{
        width: 80%;
    }
    .work-section .work-item h1{
        font-size: 3rem;
    }
}

/** PACKAGE **/
.package-section{
    width: 100vw;
    padding: 4rem 0;
    margin-bottom: 13rem;
}

.packages-content{
    width: 100%;
    padding: 0 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.package-item{
    border: 1px solid var(--tosca);
    padding: 2rem 2rem;
    text-align: center;
    width: 100%;
}

.package-item .price{
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .packages-content{
       flex-wrap: wrap;
       gap: 1rem;
    }
    .package-item{
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .package-item{
        width: 100%;
    }
}

/** FOOTER **/
footer{
    width: 100vw;
    padding: 6rem 0;
    display: flex;
    justify-content: space-evenly;
    color: var(--tosca);
}

footer a{
    text-decoration: under;
    color: var(--tosca);
}

footer a:hover{
    color: var(--white);
}

footer .footer-img{
    text-align: center;
}

footer img{
    width: 70%;
}

footer .footer-content img{
    margin-bottom: 1rem;
}

footer .footer-content .content-wrapper{
    display: flex;
    justify-content: space-between;
}

footer .footer-content .content-wrapper h2{
    margin-bottom: .5rem;
}

footer .footer-content .content-wrapper li{
    margin-bottom: 1rem;
}

footer .footer-content .content-wrapper .contact i{
    margin-right: .5rem;
}

@media screen and (max-width: 900px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--tosca);
        padding: 4rem 0;
    }
    footer .footer-img{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    footer{
        padding: 4rem 2rem;
    }
    footer .footer-content .content-wrapper{
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

.copyright{
    background-color: var(--tosca);
    text-align: center;
    padding: 1rem 0;
    color: var(--dark-blue);
}

/*** PORTFOLIO DETAIL ***/
body.detail{
    background-color: var(--white);
}

/** HEADER **/
.header-detail{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1591700331354-f7eea65d1ce8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: center 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0;
}

/** ABOUT **/
.detail-content{
    width: 100vw;
    height: 100vh;
    margin: 10% 0;
}

.detail-content .detail-description{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.detail-content .detail-description .detail-img{
    position: absolute;
    right: 10px;
    background-image: url("https://images.unsplash.com/photo-1520854221256-17451cc331bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    box-shadow: -1rem 1rem 0 var(--dark-blue);
}

.detail-content .detail-description .description-content{
    width: 50vw;
    color: var(--dark-blue);
    padding: 0 10%;
}

.detail-content .detail-description .description-content h3{
    text-decoration: underline;
}

.detail-content .detail-description .description-content h1{
    font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
    .detail-content{
        height: 50vh;
    }
    .detail-content .detail-description .description-content{
        width: 100vw;
    }
    .detail-content .detail-description .detail-img{
        display: none;
    }
}

/** TESTIMONI **/
.testimoni{
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    text-align: center;
    padding: 30% 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.testimoni p{
    font-size: 3rem;
}

.testimoni h3{
    margin-top: 2rem;
    color: var(--tosca);
}

@media screen and (max-width: 900px) {
    .testimoni p{
        font-size: 1.5rem;
    }
    .testimoni{
        font-size: 1rem;
    }
}

/** SAMPLE **/
.sample{
    width: 100vw;
    height: 130vh;
    padding: 8rem 0 0 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sample button{
    margin-bottom: 5rem;
}

.sample .img-wrapper{
    display: flex;
    position: relative;
}

.sample .img-wrapper img.mac{
    height: 600px;
    position: absolute;
    left: -10vw;
    filter: drop-shadow(-1.2rem .7rem 1rem rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(-1.2rem .7rem 1rem rgba(0, 0, 0, 0.5));
}

.sample .img-wrapper img.mob{
    height: 600px;
    position: absolute;
    right: 15vw;
    filter: drop-shadow(-1rem .7rem 1rem rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(-1rem .7rem 1rem rgba(0, 0, 0, 0.25));
}

.detail footer{
    background-color: var(--dark-blue);
}